- practices = @results.map { |h| h['name'] }.uniq

- practices.each do |practice|
  %h2= practice

  %table
    %thead
      %td
        Time
      %td
        Duration in minutes
      - @results.reject { |res| res['name'] != practice }.each do |res|
        %tr
          %td= Time.at(res['time']/1000).strftime("%Y-%m-%d at %H:%M")
          %td= res['duration'] && res['duration']/60/1000


