:css
  table.meetup_cal {
    text-align: left;
    font-family: "Oswald",sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
  }
  table.meetup_cal th {
    background-color: lightgrey;
  }
  table.meetup_cal th:first-child {
    width: 11em;
  }

- practices = @results.map { |h| h['name'] }.uniq

- practices.each do |practice|
  %h2= practice

  %table.meetup_cal
    %thead
      %th
        Date
      %th
        Time
    %tbody
      - @results.reject { |res| res['name'] != practice }.each do |res|
        %tr
          - Time.use_zone("Europe/Zurich") do
            - start_time = Time.zone.at(res['time']/1000)
            - duration = res['duration'] ? res['duration']/1000 : 0
            %td= start_time.strftime("%Y-%m-%d, %a")
            %td= start_time.strftime("%H:%M") + " - " + (start_time + duration).strftime("%H:%M")


