:css
  body {
    font-family: "Oswald",sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
  }
  table {
    text-align: left;
  }
  th {
    background-color: lightgrey;
  }
  th:first-child {
    width: 11em;
  }

- practices = @results.map { |h| h['name'] }.uniq

- practices.each do |practice|
  %h2= practice

  %table
    %thead
      %th
        Date
      %th
        Time
    %tbody
      - @results.reject { |res| res['name'] != practice }.each do |res|
        - start_time = Time.at(res['time']/1000).localtime("+02:00")
        - duration = res['duration'] ? res['duration']/1000 : 0
        %tr
          %td= start_time.strftime("%Y-%m-%d, %a")
          %td= start_time.strftime("%H:%M") + " - " + (start_time + duration).strftime("%H:%M")


