:css
  body {
    font-family: "Oswald",sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
  }
  table {
    text-align: left;
  }
  th {
    width: 59%;
    background-color: lightgrey;
  }

- practices = @results.map { |h| h['name'] }.uniq

- practices.each do |practice|
  %h2= practice

  %table
    %thead
      %th
        Time
      %th
        Duration in minutes
    %tbody
      - @results.reject { |res| res['name'] != practice }.each do |res|
        %tr
          %td= Time.at(res['time']/1000).strftime("%Y-%m-%d at %H:%M")
          %td= res['duration'] && res['duration']/60/1000


